---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "orbital.fullname" . }}
  namespace: {{ template "orbital.namespace" . }}
  labels: {{- include "orbital.metaLabels" . | nindent 4 }}
  {{- if not (empty .Values.orbital.deploymentAnnotations) }}
  annotations:
  {{- range $key, $value := .Values.orbital.deploymentAnnotations }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
  {{- end }}
spec:
  {{- if not .Values.orbital.autoscaling.enabled }}
  replicas: {{ .Values.orbital.replicaCount }}
  {{- end }}
  selector:
    matchLabels: {{- include "orbital.selectorLabels" . | nindent 6 }}
  {{- if not (empty .Values.orbital.updateStrategy) }}
  strategy: {{- toYaml .Values.orbital.updateStrategy | nindent 4 }}
  {{- end }}
  {{- if .Values.orbital.deploymentMinReadySeconds }}
  minReadySeconds: {{ .Values.orbital.deploymentMinReadySeconds }}
  {{- end }}
  template:
    metadata:
      {{ if not (empty .Values.orbital.podAnnotations) }}
      annotations:
        {{- if .Values.orbital.podAnnotations }}
        {{- range $key, $value := .Values.orbital.podAnnotations }}
        {{ $key }}: { { $value | quote }}
        {{- end }}
        {{- end }}
      {{- end }}
      labels: {{- include "orbital.metaLabels" . | nindent 8 }}
       {{- if not (empty .Values.orbital.podLabels) }}
{{- toYaml .Values.orbital.podLabels | nindent 8 }}
       {{- end }}
    spec:
      {{- if or .Values.orbital.serviceAccount.create .Values.orbital.serviceAccount.name }}
      serviceAccountName: {{ template "orbital.serviceAccountName" . }}
      {{- end }}
      automountServiceAccountToken: {{ .Values.orbital.serviceAccount.automountServiceAccountToken }}
      {{- if .Values.orbital.image.pullSecrets }}
      imagePullSecrets:
      {{- range .Values.orbital.image.pullSecrets }}
      - name: {{ . }}
      {{- end }}
      {{- end }}
      {{- if .Values.orbital.hostNetwork }}
      hostNetwork: true
      {{- end }}
      {{- if .Values.orbital.priorityClassName }}
      priorityClassName: "{{ .Values.orbital.priorityClassName }}"
      {{- end }}
      {{- if .Values.orbital.hostAliases }}
      hostAliases: {{- toYaml .Values.orbital.hostAliases | nindent 6 }}
      {{- end }}
      {{- if .Values.orbital.dnsPolicy }}
      dnsPolicy: {{ .Values.orbital.dnsPolicy | quote }}
      {{- end }}
      {{- if .Values.orbital.dnsConfig }}
      dnsConfig: {{- toYaml .Values.orbital.dnsConfig | nindent 8 }}
      {{- end }}
      containers:
      - name: "orbital"
        image: {{ .Values.orbital.image.repository }}:{{ .Values.orbital.image.tag }}
        imagePullPolicy: {{ .Values.orbital.image.pullPolicy }}
        {{- if not (empty .Values.orbital.containerSecurityContext) }}
        securityContext: {{- toYaml .Values.orbital.containerSecurityContext | nindent 10 }}
        {{- end }}

        {{ $defaultEnv := include "orbital.defaultEnv" . | fromYaml }}
        env:
          {{- range .Values.orbital.env }}
        - name: {{ .name }}
          value: {{ .value }}
          {{- end }}
          {{- range $varName, $varValue := $defaultEnv }}
        - name: {{ $varName }}
          {{- toYaml $varValue | nindent 10 }}
          {{- end }}

        {{- if or (not (empty .Values.orbital.config)) (not (empty .Values.orbital.secretConfig)) }}
        envFrom:
        {{- if not (empty .Values.orbital.config) }}
          - configMapRef:
              {{- range .Values.orbital.config }}
              name: {{ . }}
              {{- end }}
        {{- end }}
        {{- if not (empty .Values.orbital.secretConfig) }}
          - secretRef:
              {{- range .Values.orbital.secretConfig }}
              name: {{ . }}
              {{- end }}
        {{- end }}
        {{- end }}

        {{- if .Values.orbital.lifecycle }}
        lifecycle: {{- toYaml .Values.orbital.lifecycle | nindent 10 }}
        {{- end }}
        volumeMounts:
          - name: tmp-dir
            mountPath: /tmp
          - name: orbital-config
            mountPath: /opt/service/config
          - name: orbital-services-config
            mountPath: /opt/service/config/services
        ports:
        - name: orbital
          containerPort: {{ .Values.orbital.service.containerPort }}
          {{- if .Values.orbital.service.hostPort }}
          hostPort: { { .Values.orbital.service.hostPort }}
          {{- end }}
          protocol: TCP
        readinessProbe: {{- toYaml .Values.orbital.readinessProbe | nindent 10 }}
        livenessProbe: {{- toYaml .Values.orbital.livenessProbe | nindent 10 }}
        {{- if .Values.orbital.startupProbe }}
        startupProbe: {{- toYaml .Values.orbital.startupProbe | nindent 10 }}
        {{- end }}
        {{- if .Values.orbital.resources }}
        resources: {{- toYaml .Values.orbital.resources | nindent 10 }}
        {{- end }}
      {{- if .Values.orbital.affinity }}
      affinity: {{- toYaml .Values.orbital.affinity | nindent 8 }}
      {{- end }}

      {{- with $.Values.orbital.topologySpreadConstraints }}
      topologySpreadConstraints:
       {{- range $constraint := . }}
        - {{ toYaml $constraint | nindent 10 | trim }}
          {{- if not $constraint.labelSelector }}
          labelSelector:
            matchLabels: {{- include "orbital.selectorLabels" $ | nindent 14 }}
          {{- end }}
       {{- end }}
      {{- end }}

      {{ if not (empty .Values.orbital.securityContext) }}
      securityContext: {{- toYaml .Values.orbital.securityContext | nindent 8 }}
      {{- end }}
      {{- if .Values.orbital.nodeSelector }}
      nodeSelector: {{- toYaml .Values.orbital.nodeSelector | nindent 8 }}
      {{- end }}
      terminationGracePeriodSeconds: {{ .Values.orbital.terminationGracePeriodSeconds }}
      {{- if .Values.orbital.tolerations }}
      tolerations: {{- toYaml .Values.orbital.tolerations | nindent 8 }}
      {{- end }}
      volumes:
        - name: tmp-dir
          emptyDir: {}
        - name: orbital-config
          configMap:
            name: {{ template "orbital.fullname" . }}-config
        - name: orbital-services-config
          configMap:
            name: {{ template "orbital.fullname" . }}-services-config
