---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: orbital
  namespace: {{ template "orbital.namespace" . }}
  labels:
    {{- include "orbital.metaLabels" . | nindent 4 }}
  {{- if .Values.orbital.deploymentAnnotations }}
  annotations:
  {{- range $key, $value := .Values.orbital.deploymentAnnotations }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
  {{- end }}
spec:
  replicas: {{ .Values.orbital.replicaCount }}
  selector:
    matchLabels:
      {{- include "orbital.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
       {{- include "orbital.metaLabels" . | nindent 8 }}
       {{- if .Values.orbital.podLabels }}
       {{ toYaml .Values.orbital.podLabels | nindent 8 }}
       {{- end }}
    spec:
      {{- if .Values.orbital.image.pullSecrets }}
      imagePullSecrets:
      {{- range .Values.orbital.image.pullSecrets }}
      - name: {{ . }}
      {{- end }}
      {{- end }}
      containers:
      - name: "orbital"
        image: {{ .Values.orbital.image.repository }}:{{ .Values.orbital.image.tag }}
        imagePullPolicy: {{ .Values.orbital.image.pullPolicy }}
        env:
        - name: OPTIONS
          value: >-
            --vyne.analytics.persistRemoteCallResponses={{ .Values.orbital.persistRemoteCallResponses }}
            --vyne.db.username=orbital
            --vyne.db.password=orbital
            --vyne.db.host={{ .Release.Name }}-postgresql.{{ template "orbital.namespace" . }}.svc.cluster.local
            --vyne.services.config-file=/opt/service/config/services/services.conf
            {{- if .Values.orbital.security.enabled }}
            --vyne.security.openIdp.enabled=true
            --vyne.security.openIdp.jwks-uri={{ .Values.orbital.security.jwksUri }}
            --vyne.security.openIdp.issuerUrl={{ .Values.orbital.security.issuerUrl }}
            --vyne.security.openIdp.clientId={{ .Values.orbital.security.clientId }}
            --vyne.security.openIdp.scope={{ .Values.orbital.security.scope }}
            --vyne.security.openIdp.require-https={{ .Values.orbital.security.requireHttps }}
            {{- end }}
            {{- if .Values.orbital.project.enabled }}
            --vyne.workspace.project-file={{ .Values.orbital.project.path }}
            {{- else }}
            --vyne.workspace.config-file={{ .Values.orbital.workspace.path }}
            {{- end }}
        - name: JAVA_OPTS
          value: >-
            -Xms256m
            -Xmx1024m
        volumeMounts:
          - name: orbital-config
            mountPath: /opt/service/config
          - name: orbital-services-config
            mountPath: /opt/service/config/services
        ports:
        - name: orbital
          containerPort: {{ .Values.orbital.service.containerPort }}
          protocol: TCP
        readinessProbe:
{{ toYaml .Values.orbital.readinessProbe | indent 10 }}
        livenessProbe:
{{ toYaml .Values.orbital.livenessProbe | indent 10 }}
      volumes:
        - name: orbital-config
          configMap:
            name: orbital-config
        - name: orbital-services-config
          configMap:
            name: orbital-services-config
