---
{{- $supplemental := omit $Values.orbital.service.supplemental "type" "ports" "selector" }}
apiVersion: v1
kind: Service
metadata:
  name: orbital
  namespace: {{ template "orbital.namespace" . }}
  labels:
    {{- include "orbital.selectorLabels" . | nindent 4 }}
spec:
  type: {{ .Values.orbital.service.type }}
  ports:
    - name: orbital-svc
      port: {{ .Values.orbital.service.servicePort }}
      targetPort: {{ .Values.orbital.service.containerPort }}
      appProtocol: http
      protocol: TCP
      {{- if (and (or (eq .Values.orbital.service.type "LoadBalancer") (eq .Values.orbital.service.type "NodePort")) (not (empty .Values.orbital.service.nodePort))) }}
      nodePort: {{ .Values.orbital.service.nodePort }}
      {{- end }}
    - name: rsocket-tcp
      port: 7655
      targetPort: 7655
      appProtocol: tcp
      protocol: TCP
  selector:
    {{- include "orbital.selectorLabels" . | nindent 4 }}

{{- if $supplemental }}
  {{- toYaml $supplemental | nindent 2 }}
{{- end }}
